* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Nanum Myeongjo', serif;
  background-color: black; }

/*!------HEADER--------*/
header {
  background-color: black;
  padding: 10px; }
  header h1 {
    color: #acab9e;
    font-size: 55px;
    text-align: center;
    display: flex;
    justify-content: center; }
  header .barra-nav {
    background-color: black; }
    header .barra-nav .container-fluid .logo img {
      width: 110px;
      height: 110px; }
    header .barra-nav .container-fluid .navbar-toggler {
      border: none;
      background-color: black; }
      header .barra-nav .container-fluid .navbar-toggler:focus {
        outline: none; }
      header .barra-nav .container-fluid .navbar-toggler .navbar-toggler-icon {
        background-color: rgba(233, 230, 36, 0.966); }
        header .barra-nav .container-fluid .navbar-toggler .navbar-toggler-icon:before, header .barra-nav .container-fluid .navbar-toggler .navbar-toggler-icon:after {
          background-color: rgba(233, 230, 36, 0.966); }
    header .barra-nav .container-fluid .nav {
      background-color: black;
      border: none;
      padding: 10px; }
      header .barra-nav .container-fluid .nav .navbar-nav {
        margin-top: 10px; }
        header .barra-nav .container-fluid .nav .navbar-nav .nav-item .nav-link {
          color: #acab9e;
          font-family: 'Nanum Myeongjo', serif;
          font-size: 20px;
          margin: 15px; }
          header .barra-nav .container-fluid .nav .navbar-nav .nav-item .nav-link.active {
            font-weight: bold;
            color: #acab9e; }
        header .barra-nav .container-fluid .nav .navbar-nav .nav-item .disabled {
          display: none; }
      header .barra-nav .container-fluid .nav .navbar-form {
        background-color: black;
        padding: 10px; }
        header .barra-nav .container-fluid .nav .navbar-form input[type="search"] {
          background-color: black;
          color: #acab9e; }
        header .barra-nav .container-fluid .nav .navbar-form .boton-b {
          color: #acab9e; }
          header .barra-nav .container-fluid .nav .navbar-form .boton-b:hover {
            background-color: rgba(233, 230, 36, 0.966);
            color: black; }

/*!------MAIN INICIO--------*/
.hero {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../img/lucha.jpg);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .hero h2 {
    color: white;
    font-size: 120px;
    text-align: center; }
  .hero h3 {
    color: white;
    font-size: 15px;
    text-align: center; }

/*!---------PRODUCTOS INDEX-------*/
.productos {
  margin: 0; }
  .productos h2 {
    color: #acab9e;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    margin: 0; }
  .productos h3 {
    color: #acab9e;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    margin: 0; }
  .productos .targetas-prod {
    width: 100%;
    display: grid;
    grid-template-areas: "p-uno p-dos" "p-tres p-cuatro";
    gap: 10px;
    justify-content: center; }
    .productos .targetas-prod .p-uno {
      grid-area: p-uno; }
    .productos .targetas-prod .p-dos {
      grid-area: p-dos; }
    .productos .targetas-prod .p-tres {
      grid-area: p-tres; }
    .productos .targetas-prod .p-cuatro {
      grid-area: p-cuatro; }
    .productos .targetas-prod div {
      text-align: center;
      margin: 15px;
      position: relative; }
      .productos .targetas-prod div a img {
        object-fit: cover;
        width: 400px;
        height: 300px;
        transition: transform 0.3s ease; }
        .productos .targetas-prod div a img:hover {
          transform: scale(1.1); }
      .productos .targetas-prod div h3 {
        color: #acab9e;
        font-size: 18px;
        padding: 5px;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%; }

/*!---------CONTACTO-------*/
.formulario-contacto {
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center; }
  .formulario-contacto div label {
    color: #acab9e;
    font-size: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center; }
  .formulario-contacto div input,
  .formulario-contacto div textarea {
    width: 519px;
    background-color: transparent;
    border: solid #acab9e 0.5px;
    color: white;
    font-size: 18px; }
  .formulario-contacto div #enviar {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    background-color: black;
    color: #acab9e;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out; }
    .formulario-contacto div #enviar:hover {
      background-color: rgba(233, 230, 36, 0.966);
      color: black; }
  .formulario-contacto h2 {
    text-align: center;
    color: #acab9e;
    font-size: 40px; }

/*!--------NOSOTROS------*/
.presentacion-nosotros {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/lucha.2.jpg);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .presentacion-nosotros h2 {
    color: white;
    font-size: 50px;
    text-align: center; }
  .presentacion-nosotros h3 {
    color: white;
    font-size: 20px;
    text-align: center; }

/*!----------CENTRO DE AYUDA-------*/
.politica-devolucion {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 710px; }
  .politica-devolucion .devolucion-titulo {
    display: flex;
    justify-content: start;
    align-items: center; }
    .politica-devolucion .devolucion-titulo h2 {
      text-align: start;
      color: #acab9e;
      font-size: 25px; }
  .politica-devolucion .devolucion-p {
    display: flex;
    justify-content: center;
    align-items: center; }
    .politica-devolucion .devolucion-p p {
      color: white;
      font-size: 15px;
      text-align: justify;
      margin: 30px;
      width: 700px;
      height: 100%; }

/*!--------PRODUCTOS-------*/
.contenedor-galeria {
  margin: 0;
  padding: 20px; }
  .contenedor-galeria h2 {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 10px; }
  .contenedor-galeria .grid-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .contenedor-galeria .grid-items div {
      flex: 1 1 calc(33.33% - 25px);
      margin-bottom: 25px;
      position: relative;
      text-align: center; }
      .contenedor-galeria .grid-items div a img {
        width: 300px;
        height: auto;
        transition: transform 0.3s ease; }
        .contenedor-galeria .grid-items div a img:hover {
          transform: scale(1.1); }
      .contenedor-galeria .grid-items div h3 {
        color: #acab9e;
        font-size: 18px;
        padding: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        margin: 0; }

/*!--------KIMONO BLANCO-------*/
.product {
  max-width: 950px;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .product h2 {
    color: #acab9e;
    font-size: 24px;
    margin-bottom: 10px; }
  .product p {
    color: white; }
  .product .image-carousel {
    display: flex;
    overflow: hidden;
    margin-bottom: 20px; }
    .product .image-carousel img {
      width: 100%;
      transition: transform 0.5s ease-in-out; }
    .product .image-carousel img:nth-child(1) {
      order: 1; }
    .product .image-carousel img:nth-child(2) {
      order: 2; }
  .product .buy-button {
    margin-top: 15px;
    display: block;
    width: 100px;
    padding: 15px;
    background-color: black;
    color: #acab9e;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out; }
    .product .buy-button:hover {
      background-color: rgba(233, 230, 36, 0.966);
      color: black; }

#imageCarousel {
  max-width: 400px;
  margin: 0 auto; }
  #imageCarousel .carousel-inner img {
    max-width: 100%;
    height: auto;
    margin: 0 auto; }

/*!---------FOOTER-------*/
footer {
  bottom: 0;
  width: 100%;
  position: relative; }
  footer div {
    margin: 0;
    background-color: rgba(233, 230, 36, 0.966);
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    footer div a img {
      width: 65px;
      height: 65px;
      padding: 15px; }

/*!------MEDIAQUERY-----*/
@media screen and (max-width: 950px) {
  header h1 {
    font-size: 40px;
    padding: 0; }
  .hero h2 {
    font-size: 80px; }
  .hero h3 {
    font-size: 15px; }
  .presentacion-nosotros {
    height: 350px; }
    .presentacion-nosotros h2 {
      font-size: 40px; }
    .presentacion-nosotros h3 {
      font-size: 20px; } }

@media screen and (max-width: 850px) {
  .hero {
    height: 300px; }
  .productos h2 {
    padding: 10px;
    font-size: 20px; }
  .productos .targetas-prod {
    display: grid;
    grid-template-areas: "p-uno" "p-dos" "p-cuatro" "p-tres"; }
    .productos .targetas-prod h3 {
      font-size: 15px;
      padding: 5px; }
  .productos h3 {
    font-size: 10px;
    padding: 15px; } }

@media screen and (max-width: 800px) {
  .presentacion-nosotros {
    height: 200px; }
  .formulario-contacto {
    padding: 25px; }
    .formulario-contacto h2 {
      font-size: 35px; }
    .formulario-contacto div label {
      font-size: 15px;
      width: 20px;
      height: 20px; }
    .formulario-contacto div input,
    .formulario-contacto div textarea {
      width: 500px;
      font-size: 18px; }
    .formulario-contacto div #enviar {
      font-size: 20px;
      margin-top: 10px; }
  .politica-devolucion .devolucion-titulo h2 {
    font-size: 20px; }
  .politica-devolucion .devolucion-p p {
    font-size: 15px;
    margin: 30px;
    width: 500px; } }

@media screen and (max-width: 600px) {
  .hero {
    height: 200px; }
    .hero h2 {
      font-size: 50px; }
  .productos .targetas-prod div {
    margin: 10px; }
    .productos .targetas-prod div .p-uno img,
    .productos .targetas-prod div .p-dos img,
    .productos .targetas-prod div .p-tres img,
    .productos .targetas-prod div .p-cuatro img {
      width: 300px;
      height: 200px; }
    .productos .targetas-prod div h3 {
      font-size: 15px; }
  .productos h3 {
    font-size: 12px; }
  .presentacion-nosotros h2 {
    font-size: 18px; }
  .presentacion-nosotros h3 {
    font-size: 13px; }
  .formulario-contacto {
    padding: 10px; }
    .formulario-contacto h2 {
      font-size: 25px; }
    .formulario-contacto div label {
      font-size: 10px;
      width: 15px;
      height: 15px; }
    .formulario-contacto div input,
    .formulario-contacto div textarea {
      width: 400px;
      font-size: 15px; }
    .formulario-contacto div #enviar {
      font-size: 15px;
      margin-top: 5px; }
  .politica-devolucion .devolucion-p p {
    font-size: 12px; }
  footer div a img {
    width: 50px;
    height: 50px; } }

@media screen and (max-width: 590px) {
  .politica-devolucion {
    padding: 10px;
    display: flex;
    flex-direction: column; }
    .politica-devolucion .devolucion-p {
      margin: 15px; }
    .politica-devolucion .devolucion-titulo {
      height: 20px; } }

@media screen and (max-width: 550px) {
  .logo img {
    width: 60px;
    height: 60px; }
  .nav ul li a {
    font-size: 10px;
    margin: 5px; }
  .form-control {
    width: 70px;
    height: 30px;
    font-size: 10px; } }

@media screen and (max-width: 500px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../img/kimono.negro.2.jpg); }
  .productos .targetas-prod .p-uno img,
  .productos .targetas-prod .p-dos img,
  .productos .targetas-prod .p-tres img,
  .productos .targetas-prod .p-cuatro img {
    width: 200px;
    height: 190px; }
  .presentacion-nosotros {
    height: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/kimono.blanco.jpg); } }

@media screen and (max-width: 450px) {
  .formulario-contacto h2 {
    font-size: 20px; }
  .formulario-contacto div input,
  .formulario-contacto div textarea {
    width: 300px;
    font-size: 15px; } }
