/*!------HEADER--------*/

header {
    background-color: $color-black;
    padding: 10px;

    h1 {
        color: $color-gris;
        font-size: 55px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .barra-nav {
        background-color: $color-black;
    
        .container-fluid {
            .logo img {
                width: 110px;
                height: 110px;
            }
    
            .navbar-toggler {
                border: none;
                background-color: $color-black;
    
                &:focus {
                    outline: none;
                }
    
                .navbar-toggler-icon {
                    background-color: $color-yellow;
    
                    &:before,
                    &:after {
                        background-color: $color-yellow;
                    }
                }
            }
    
            .nav {
                background-color: $color-black;
                border: none;
                padding: 10px;
    
                .navbar-nav {
                    margin-top: 10px;
    
                    .nav-item {
                        .nav-link {
                            color: $color-gris;
                            font-family: 'Nanum Myeongjo', serif;
                            font-size: 20px;
                            margin: 15px;
    
                            &.active {
                                font-weight: bold;
                                color: rgb(172, 171, 158);
                            }
                        }
    
                        .disabled {
                            display: none;
                        }
                    }
                }
    
                .navbar-form {
                    background-color: $color-black;
                    padding: 10px;
    
                    input[type="search"] {
                        background-color: $color-black;
                        color: $color-gris;
                    }
    
                    .boton-b {
                        color: $color-gris;
    
                        &:hover {
                            background-color: $color-yellow;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}