/*!------HEADER--------*/
header {
    background-color: black;
    padding: 10px;

    h1 {
        color: rgb(172, 171, 158);
        font-size: 55px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .barra-nav {
        background-color: black;
    }

    .logo img {
        width: 110px;
        height: 110px;
    }

    .navbar .nav-item .nav-link {
        color: rgb(172, 171, 158);
    }

    .boton-b {
        color: rgb(172, 171, 158);

        &:hover {
            background-color: rgba(233, 230, 36, 0.966);
            color: black;
        }
    }

    .navbar .nav-item .nav-link.active {
        color: rgb(172, 171, 158);
    }

    .nav ul li a {
        color: rgb(172, 171, 158);
        font-family: 'Nanum Myeongjo', serif;
        font-size: 20px;
        margin: 15px;
    }

    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.disabled {
        display: none;
    }

    .navbar-toggler {
        border: none;
        background-color: #000;

        &:focus {
            outline: none;
        }

        .navbar-toggler-icon {
            background-color: rgba(233, 230, 36, 0.966);

            &:before,
            &:after {
                background-color: rgba(233, 230, 36, 0.966);
            }
        }
    }

    .collapse.navbar-collapse {
        background-color: #000;
        border: none;
        padding: 10px;
    }

    .navbar-nav {
        margin-top: 10px;

        .nav-link {
            color: rgb(172, 171, 158);

            &.active {
                font-weight: bold;
                color: rgb(172, 171, 158);
            }
        }
    }

    .navbar-form {
        background-color: #000;
        padding: 10px;

        input[type="text"] {
            background-color: black;
            color: rgb(172, 171, 158);
        }
    }
}
