/*!------MEDIAQUERY-----*/

@media screen and (max-width: 950px) {
    header {
        h1 {
            font-size: 40px;
            padding: 0;
        }
    }

    .hero {
        h2 {
            font-size: 80px;
        }

        h3 {
            font-size: 15px;
        }
    }

    .presentacion-nosotros {
        height: 350px;

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 20px;
        }
    }
}


@media screen and (max-width: 850px) {
    .hero {
        height: 300px;
    }

    .productos {

        h2 {
            padding: 10px;
            font-size: 20px;
        }
        .targetas-prod {
            display: grid;
            grid-template-areas:
                "p-uno"
                "p-dos"
                "p-cuatro"
                "p-tres";
            h3 {
                    font-size: 15px;
                    padding: 5px;
                }
        }
        h3 {
            font-size: 10px;
            padding: 15px;
        }
    }



@media screen and (max-width: 800px) {
    .presentacion-nosotros {
        height: 200px;
    }

    .formulario-contacto {
        padding: 25px;

        h2 {
            font-size: 35px;
        }

        label {
            font-size: 15px;
            width: 20px;
            height: 20px;
        }

        input,
        textarea {
            width: 500px;
            font-size: 18px;
        }

        #enviar {
            font-size: 20px;
            margin-top: 10px;
        }
    }

    .politica-devolucion {
        .devolucion-titulo h2 {
            font-size: 20px;
        }

        .devolucion-p p {
            font-size: 15px;
            margin: 30px;
            width: 500px;
        }
    }
}


@media screen and (max-width: 600px) {
    .hero {
        height: 200px;

        h2 {
            font-size: 50px;
        }
    }
    .productos{
        .targetas-prod {
            div{
                margin: 10px;
            .p-uno,
            .p-dos,
            .p-tres,
            .p-cuatro{  
                img {
                    width: 300px;
                    height: 200px;
                }
            }
                h3 {
                    font-size: 15px;
                    }
            }
        }
        h3 {
            font-size: 12px;
        }
        }
    
    }

    .presentacion-nosotros {
        height: 200px;

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 15px;
        }
    }

    .formulario-contacto {
        padding: 10px;

        h2 {
            font-size: 25px;
        }

        label {
            font-size: 10px;
            width: 15px;
            height: 15px;
        }

        input,
        textarea {
            width: 400px;
            font-size: 15px;
        }

        #enviar {
            font-size: 15px;
            margin-top: 5px;
        }
    }

    .politica-devolucion {
        p {
            font-size: 12px;
        }
    }

    footer div a img {
        width: 50px;
        height: 50px;
    }
}


@media screen and (max-width: 550px) {
    .logo img {
        width: 60px;
        height: 60px;
    }

    .nav {
        ul {
            li {
                a {
                    font-size: 10px;
                    margin: 5px;
                }
            }
        }
    }

    .form-control {
        width: 70px;
        height: 30px;
        font-size: 10px;
    }

    .politica-devolucion {
        p {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 500px) {
    .productos{
        .targetas-prod {
            .p-uno,
            .p-dos,
            .p-tres,
            .p-cuatro {
                img {
                    width: 200px;
                    height: 190px;
                }
            }
        }
        }

    .presentacion-nosotros {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/kimono.blanco.jpg);
    }

    .politica-devolucion {
        h2 {
            font-size: 15px;
        }

        p {
            font-size: 10px;
        }
    }
}


@media screen and (max-width: 450px) {
    .formulario-contacto {
        h2 {
            font-size: 20px;
        }

        input {
            width: 300px;
            font-size: 15px;
        }

        textarea {
            width: 300px;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 400px) {
    .politica-devolucion {
        padding: 10px;
        display: flex;
        flex-direction: column;

        .devolucion-p {
            width: 300px;
            margin: 15px;
        }

        .devolucion-titulo {
            height: 20px;
        }
    }
}