/*!------MEDIAQUERY-----*/

@media screen and (max-width: 950px) {
    header {
        h1 {
            font-size: 40px;
            padding: 0;
        }
    }

    .hero {
        h2 {
            font-size: 80px;
        }

        h3 {
            font-size: 15px;
        }
    }

    .presentacion-nosotros {
        height: 350px;

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 20px;
        }
    }
}

.nosotros-p {

    h2 {
        font-size: 20px;
        margin: 15px;
    }

    div {
        p {
            margin: 10px;
        }

        img {
            margin: 10px;
        }
    }
}


@media screen and (max-width: 850px) {
    .hero {
        height: 300px;
    }

    .productos {

        h2 {
            padding: 10px;
            font-size: 20px;
        }

        .targetas-prod {
            display: grid;
            grid-template-areas:
                "p-uno"
                "p-dos"
                "p-cuatro"
                "p-tres";

            h3 {
                font-size: 15px;
                padding: 5px;
            }
        }

        h3 {
            font-size: 10px;
            padding: 15px;
        }
    }
}


@media screen and (max-width: 800px) {
    .presentacion-nosotros {
        height: 200px;
    }



    .formulario-contacto {
        padding: 25px;

        h2 {
            font-size: 35px;
        }

        div {
            label {
                font-size: 15px;
                width: 20px;
                height: 20px;
            }

            input,
            textarea {
                width: 500px;
                font-size: 18px;
            }

            #enviar {
                font-size: 20px;
                margin-top: 10px;
            }
        }
    }


    .politica-devolucion {
        .devolucion-titulo {
            h2 {
                font-size: 20px;
            }
        }

        .devolucion-p {
            p {
                margin: 30px;
                width: 500px;
            }
        }
    }
}


@media screen and (max-width: 600px) {
    .hero {
        height: 200px;

        h2 {
            font-size: 50px;
        }
    }

    .productos {
        .targetas-prod {
            div {
                margin: 10px;

                .p-uno,
                .p-dos,
                .p-tres,
                .p-cuatro {
                    img {
                        width: 300px;
                        height: 200px;
                    }
                }

                h3 {
                    font-size: 15px;
                }
            }
        }

        h3 {
            font-size: 12px;
        }
    }

    .presentacion-nosotros {

        h2 {
            font-size: 18px;
        }

        h3 {
            font-size: 13px;
        }
    }

    .formulario-contacto {
        padding: 10px;

        h2 {
            font-size: 25px;
        }

        div {
            label {
                font-size: 10px;
                width: 15px;
                height: 15px;
            }

            input,
            textarea {
                width: 400px;
                font-size: 15px;
            }

            #enviar {
                font-size: 15px;
                margin-top: 5px;
            }
        }
    }

    .politica-devolucion {
        .devolucion-p {
            h3 {
                font-size: 12px;
            }

            ol {
                li {
                    font-size: 12px;
                }
            }

            p {
                font-size: 12px;
            }
        }
    }

    footer div a img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 590px) {
    .politica-devolucion {
        padding: 10px;

        .devolucion-p {
            margin: 15px;

            p {
                width: 300px;
            }
        }

        .devolucion-titulo {
            height: 20px;
        }
    }
}


@media screen and (max-width: 550px) {
    header {
        .barra-nav {
            .container-fluid {
                .logo img {
                    width: 60px;
                    height: 60px;
                }

                .nav {
                    .navbar-nav {
                        .nav-item {
                            .nav-link {
                                font-size: 15px;
                                margin: 10px;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 500px) {
    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../img/kimononegrolion2.jpg);
    }

    .productos {
        .targetas-prod {

            .p-uno,
            .p-dos,
            .p-tres,
            .p-cuatro {
                img {
                    width: 200px;
                    height: 190px;
                }
            }
        }
    }

    .presentacion-nosotros {
        height: 150px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/kimono.blanco.jpg);
    }

    .product {
        .image-carosel {
            img {
                height: 300px;
            }
        }
    }

    .contenedor-galeria {
        .grid-items {
            div {
                a {
                    img {
                        height: 300px;
                    }
                }
            }
        }
    }

    #imageCarousel {
        .carousel-inner {
            img {
                max-width: 100%;
                height: 300px;
            }
        }
    }
}


@media screen and (max-width: 450px) {
    .formulario-contacto {
        h2 {
            font-size: 20px;
        }

        div {

            & input,
            & textarea {
                width: 300px;
                font-size: 15px;
            }
        }
    }
}