// Variables
$color-black: black;
$color-white: white;
$color-yellow: rgba(233, 230, 36, 0.966);
$font-family: 'Nanum Myeongjo', serif;
$font-size-small: 10px;
$font-size-medium: 15px;
$font-size-large: 20px;

@mixin flex-container($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}